# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/fonts/santa-child-webfontkit/specimen_files/grid_12-825-55-15.css
src/assets/fonts/santa-child-webfontkit/specimen_files/specimen_stylesheet.css
src/assets/fonts/thestral-webfontkit/OFL.txt
src/assets/fonts/thestral-webfontkit/readme.txt
