/* CSS common to multiple components */
:root {
    --celadon: rgb(190, 229, 191);
    --honeydew: rgb(164, 240, 180);
    --olivine: rgb(158, 189, 110);
    --apricot: rgb(255, 209, 186);
    --thulian-pink: rgb(206, 125, 165);
    --english-violet: rgb(73, 54, 87);
}

.tell-me-about-text {
    color: var(--olivine);
}

.location-text {
    color: var(--olivine);
    font-family: 'SantaChild', 'Times New Roman', Times, serif;
    font-size: 5rem;
}

nav.navbar {
    background-color: var(--english-violet);

}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: var(--thulian-pink);
}

a.navbar-brand {
    margin: 0 2rem 0 1em;
}

.navbar-toggler img {
    height: 2rem;
    width: 2rem;
}

body {
    background-image: url("src/assets/lerone-pieters-new-york-sunset.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

body.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-brand img {
        max-width: 48px;
    
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand img {
        max-width: 64px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand img {
        max-width: 64px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand img {
        max-width: 64px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand img {
        max-width: 64px;
    }
}