/* CSS common to multiple components */
:root {
    --celadon: rgb(190, 229, 191);
    --honeydew: rgb(164, 240, 180);
    --olivine: rgb(158, 189, 110);
    --hunter-green: rgb(62, 86, 65);
    --apricot: rgb(255, 209, 186);
    --melon: rgb(231, 173, 153);
    --sunset-cloud: #FDE1CC;
    --thulian-pink: rgb(206, 125, 165);
    --english-violet: rgb(73, 54, 87);
    --engineering-orange: rgb(184, 12, 9);
}

.tell-me-about-text {
    color: var(--olivine);
    font-family: 'Neue Regrade', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}

.location-text {
    color: var(--olivine);
    font-family: 'Thestral', 'Times New Roman', Times, serif;
    margin-top: 5px;
    font-size: 5rem;
    margin-bottom: 0;
}

.thestral-header {
    font-family: 'Thestral', 'Times New Roman', Times, serif;
    font-size: 4rem;
}

nav {
    font-family: 'Neue Regrade', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-weight: 500;
    font-style: normal;
}

nav.navbar {
    background-color: var(--english-violet);
}

.navbar-brand img {
    max-width: 64px;
}

a.nav-link {
    font-size: 1em;
}

a.nav-link, a.nav-link:visited {
    color: white;
}

a.nav-link:active,
a.nav-link:focus {
  color: var(--thulian-pink); /* Change this to your desired color */
}

a.nav-link:hover {
    color: var(--thulian-pink);
}

a.navbar-brand {
    margin: 0 2rem 0 1em;
}

.navbar-toggler img {
    height: 2rem;
    width: 2rem;
}

.footer {
    background-color: var(--english-violet);
    color: var(--thulian-pink);
}

body {
    background-image: url("src/assets/lerone-pieters-new-york-sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'Neue Regrade', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;

}

body.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    #root div.container {
        max-width: 475px;
      }
    
    .navbar-brand img {
        max-width: 48px;
    }

    .location-text {
        margin-bottom: 0;
        font-size: 2.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #root div.container {
        max-width: 668px;
      }
      .location-text {
        font-size: 2.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #root div.container {
        max-width: 890px;
      }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #root div.container {
        max-width: 1100px;
      }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    /* trying to override bootstrap container sizing */
    #root div.container {
        max-width: 1480px;
      }

    /* .navbar-brand img {
        max-width: 64px;
    } */
}