div.day-forecast, div.weather-today {
    background-color: var(--apricot);
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    border-color: var(--melon);
    border-width: 2px;
}

.day-forecast p {
    margin-bottom: 0.5rem;
}

.day-forecast img {
    max-height: 75px;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    body #root {
        background-color: var(--sunset-cloud);
    }

    .day-forecast img {
        max-height: 75px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    body #root {
        background-color: var(--apricot);
    }

    .day-forecast img {
        max-height: 75px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}