:root {
    --celadon: rgb(190, 229, 191);
    --honeydew: rgb(164, 240, 180);
    --apricot: rgb(255, 209, 186);
    --thulian-pink: rgb(206, 125, 165);
    --english-violet: rgb(73, 54, 87);
}

div.day-forecast, div.weather-today {
    background-color: var(--apricot);
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.day-forecast p {
    margin-bottom: 0.5rem;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    body #root {
        background-color: var(--apricot);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    body #root {
        background-color: var(--apricot);
    }
}