body {
    background-image: url("src/assets/lerone-pieters-new-york-sunset.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

div.container {
    margin: auto;
}

button[type="submit"] {
    text-align: center;
    width: 130px;
    padding: 0.25em 0.75rem 0.25em 0.75rem;
}

@media (min-width: 1200px) {

}